<li class="nav-item dropdown">
  <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">العام الدراسي</span>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li class="dropdown-item" *ngFor="let fiscalYear of fiscalYears">
      <a class="nav-link disabled" aria-current="page" (click)="handleFiscalYearChange(fiscalYear, $event)"
        routerLinkActive="active link-danger">
        {{ fiscalYear.startDate | date : 'dd-MM-yyyy' }} -
        {{ fiscalYear.endDate ? (fiscalYear.endDate | date : 'dd-MM-yyyy'): 'حتى الآن' }}
      </a>
    </li>
  </ul>
</li>
