<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getItemId($event.option.value)">
	<mat-option *ngFor="let item of filteredData$ | async" [value]="item">
		{{ item.name }}
	</mat-option>
</mat-autocomplete>

<mat-form-field color="warn" appearance="fill" class="w-100">
	<mat-label>{{ label }}</mat-label>
	<input [disabled]="!dataSource" matInput [formControl]="nameControl" [matAutocomplete]="auto" [placeholder]="placeholder" />
	<mat-error *ngIf="nameControl.hasError('notFound')">البيانات غير صحيحة</mat-error>
	<mat-error *ngIf="nameControl.hasError('required') && (nameControl.touched || nameControl.dirty)"> يجب ادخال البيانات </mat-error>
</mat-form-field>
