<mat-form-field color="warn" appearance="fill" class="w-100" >
	<mat-label>{{ label }}</mat-label>
	<input matInput [formControl]="nameControl" [matAutocomplete]="auto" [placeholder]="placeholder" />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getItemId($event.option.value)" [autoSelectActiveOption]="true">
    <mat-option *ngFor="let item of filteredData$ | async" [value]="item">
      {{ item[desplayTextKey] }}
    </mat-option>
  </mat-autocomplete>
	<mat-error *ngIf="nameControl.hasError('notFound')">البيانات غير صحيحة</mat-error>
	<mat-error *ngIf="nameControl.hasError('required') && (nameControl.touched || nameControl.dirty)"> يجب ادخال البيانات </mat-error>
  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="this.loading"></mat-progress-bar>
</mat-form-field>
