<div class="container">
	<h2 class="w-100 text-center mt-3" *ngIf="data; else update">تعديل نوع الخدمة</h2>
	<ng-template #update>
		<h2 class="w-100 text-center mt-3">اضافة نوع خدمة جديد</h2>
	</ng-template>
	<mat-dialog-content>
		<form [formGroup]="Form" (ngSubmit)="handleSubmit()" class="d-flex flex-column mat-dialog-content">
			<div class="row">
				<div class="col">
					<mat-form-field class="w-100">
						<mat-label>الأسم</mat-label>
						<input matInput formControlName="name" />
						<mat-error *ngIf="name.errors?.['required']"> Name is <strong>required</strong> </mat-error>
					</mat-form-field>
				</div>
			</div>
			<div mat-dialog-actions>
				<button mat-raised-button type="submit" color="primary" [disabled]="!Form.valid || isSubmitting" class="mx-2 px-4">{{ isSubmitting ? 'انتظر من فضلك' : 'حفظ' }}</button>
				<button type="button" mat-stroked-button color="warn" (click)="onNoClick()" tabindex="-1">إلغاء</button>
			</div>
		</form>
	</mat-dialog-content>
</div>
