mat-card {
	width: 20%;
}
:host {
	height: 100%;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
}
body{
  background: linear-gradient(to right, rgb(246 101 101), rgb(151 6 6));
  color: white;
}
