<mat-card class="shadow-lg" style="width: 450px; border: 1px solid #dadce0">
	<form [formGroup]="form" (ngSubmit)="handleSubmit()">
		<mat-card-header>
			<mat-card-title class="mb-3">نسيت كلمة السر</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>لا تقلق! فقط ادخل بريدك الالكتروني</p>
			<mat-form-field appearance="outline" class="w-100">
				<mat-label>Email</mat-label>
				<input type="text" matInput formControlName="email" />
				<mat-error *ngIf="email.errors?.['required']">يجب ادخال البريد الالكتروني</mat-error>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions align="end" class="justify-content-between">
			<button mat-raised-button color="primary" [disabled]="!form.valid || logging">{{ logging ? 'انتظر من فضلك' : 'إرسال' }}</button>
			<button type="button" mat-stroked-button color="primary" class="mx-2" (click)="handleLogin()">تسجيل الدخول</button>
		</mat-card-actions>
	</form>
</mat-card>
