.wraper {
	margin: 0;
}
.example-container {
	height: 70vh;
	overflow: auto;
}
.mat-mdc-form-field {
	font-size: 14px;
}
table {
	height: 100%;
	width: 100%;
}
.mat-column-id {
	width: 100px;
	text-align: right;
	white-space: nowrap;
}
.mat-column-actions {
	width: 250px;
	text-align: right;
}
