<section class="wraper">
	<div class="d-flex align-items-center align-content-center justify-content-between mx-5 mt-3 flex-nowrap">
		<mat-form-field class="w-50">
			<mat-label>Filter</mat-label>
			<input matInput (keyup)="applyFilter($event)" #input />
		</mat-form-field>
		<button type="button" mat-icon-button matTooltip="new" color="primary" aria-label="new" (click)="HandleNew()">
			<mat-icon>add</mat-icon>
		</button>
	</div>
	<section class="example-container mat-elevation-z8" tabindex="0">
		<table #matTable mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" cdkDropList cdkDropListOrientation="horizontal" class="mat-elevation-z8">
			<ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
				<th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header sortActionDescription="Sort by column">{{ column.header }}</th>
				<td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
			</ng-container>
			<ng-container matColumnDef="actions" stickyEnd="true">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let row">
					<button mat-icon-button matTooltip="edit" color="primary" aria-label="Edit selected row" (click)="handleEdit(row)">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button matTooltip="delete" color="warn" aria-label="delete selected row" (click)="handleDelete(row)">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
			<tr mat-row *matNoDataRow>
				<td class="mat-cell text-center" [colSpan]="columns.length + 1">No data found</td>
			</tr>
		</table>
	</section>
	<mat-paginator [pageSizeOptions]="[15, 25, 50]" showFirstLastButtons aria-label="Select page of periodic elements"> </mat-paginator>
</section>
