<div class="d-flex align-items-center align-content-center justify-content-between mx-5 mt-3 flex-nowrap">
	<mat-form-field class="w-50">
		<mat-label>Filter</mat-label>
		<input matInput (keyup)="applyFilter($event)" #input />
	</mat-form-field>
	<button type="button" mat-icon-button matTooltip="new" color="warn" aria-label="new" (click)="HandleNew()">
		<mat-icon>add</mat-icon>
	</button>
</div>
<mat-spinner *ngIf="loading" class="mx-auto mt-5" color="warn"></mat-spinner>
<ng-container *ngIf="!loading">
	<section class="example-container mat-elevation-z8" tabindex="0">
		<table #matTable mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
			<ng-container *ngFor="let column of tableColumns; let first = first" [matColumnDef]="column.columnDef" [sticky]="first">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
				<td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
			</ng-container>
			<ng-container matColumnDef="actions" stickyEnd="true">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let row">
					
					<button *ngIf="hasTransaction" mat-icon-button matTooltip="add transaction" color="basic" aria-label="add transaction to selected row" (click)="handleTransaction(row)">
						<mat-icon>paid</mat-icon>
					</button>
					<button *ngIf="canView" mat-icon-button matTooltip="view" color="basic" aria-label="view selected row" (click)="handleView(row.id)">
						<mat-icon>info</mat-icon>
					</button>
					<button mat-icon-button matTooltip="edit" color="basic" aria-label="Edit selected row" (click)="handleEdit(row)">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button matTooltip="delete" color="warn" aria-label="delete selected row" (click)="handleDelete(row)">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
			<tr mat-row *matNoDataRow>
				<td class="mat-cell text-center" [colSpan]="displayedColumns.length">No data found</td>
			</tr>
		</table>
	</section>
	<mat-paginator [pageSizeOptions]="[15, 25, 50, 100]" showFirstLastButtons aria-label="Select page of periodic elements"> </mat-paginator>
</ng-container>
