.mat-column-id {
	width: 100px;
	text-align: left;
}
.mat-mdc-header-cell {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	min-width: 100px;
}
.mat-mdc-row {
	white-space: nowrap;
}
.mat-column-actions {
	width: 150px;
	text-align: right;
}
.mat-mdc-row:hover .mat-mdc-cell {
	border-color: orangered;
	background-color: rgb(255, 219, 219);
}

.element-row {
	position: relative;
  }
  
  .element-row:not(.expanded) {
	cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
	background: #f5f5f5;
  }
  
  .element-row.expanded {
	border-bottom-color: transparent;
  }
  .expanded-table:hover {
	background-color:rgb(241, 236, 236);
  }

  