<ng-container *ngIf="shift;else loading" class="h-100">
  <div class="container-fluid mt-1 d-flex flex-column h-100">
    <div class="row align-items-center" style="height: 20vh;">
      <div class="row">
        <div class="col-3">
          <h2>تفاصيل الشيفت رقم: {{shift.id}}</h2>
        </div>
        <div class="col-3">
          <h3>تم التسجيل بواسطة: {{shift.createdBy}}</h3>
        </div>
        <div class="col-3">
          <h3>
            بداية الشيفت : {{shift.startTime|date : "dd/MM/yyyy || hh:mm a"}}
          </h3>
        </div>
        <div class="col-3">
          <h3>
            نهاية الشيفت : {{shift.endTime?(shift.endTime|date : "dd/MM/yyyy || hh:mm a"):"حتي الان"}}
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <mat-card class="mat-elevation-z8 starting_card">
            <mat-card-header>الرصيد الأفتتاحي</mat-card-header>
            <mat-card-content>
              {{shift.startingBalance}} جنية
            </mat-card-content>
            </mat-card>
            </div>
            <div class="col-3">
              <mat-card class="mat-elevation-z8 income_card">
                <mat-card-header>إجمالي الوارد</mat-card-header>
                <mat-card-content>
              {{shift.totalDebit }} جنية
            </mat-card-content>
            </mat-card>
            </div>
            <div class="col-3">
              <mat-card class="mat-elevation-z8 outcome_card">
                <mat-card-header>إجمالي الصادر</mat-card-header>
                <mat-card-content>
              {{shift.totalCredit}} جنية
            </mat-card-content>
            </mat-card>
            </div>
            <div class="col-3">
              <mat-card class="mat-elevation-z8 closing_card">
                <mat-card-header>الرصيد النهائي</mat-card-header>
                <mat-card-content>
              {{shift.closingBalance}} جنية
            </mat-card-content>
            </mat-card>
            </div>
            </div>
    </div>
    <div class="row h-75">
      <mat-tab-group class="mt-3 h-100" color="warn">
        <mat-tab label="الحضور و الانصراف" class=" h-100">
          <app-table [tableColumns]="attendanceTableColumns" [canAdd]="false" [canEdit]="false"
            [database]="attendanceService"></app-table>
        </mat-tab>
        <mat-tab label="الصادر و الوارد" class=" h-100">
          <app-table [tableColumns]="inOutTableColumns" [canAdd]="false" [canEdit]="false"
            [database]="inOutService"></app-table>
        </mat-tab>
        <mat-tab label="الصادر و الوارد للخامات" class=" h-100">
          <app-table [tableColumns]="matInOutTableColumns" [canAdd]="false" [canEdit]="false"
            [database]="matInOutService"></app-table>
        </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="spinner">
    <mat-spinner class="mx-auto mt-5" color="warn"></mat-spinner>
  </div>
</ng-template>
