<h2 class="w-100 text-center mt-3" *ngIf="id; else update">تعديل الموظف</h2>
<ng-template #update>
	<h2 class="w-100 text-center mt-3">اضافة موظف جديد</h2>
</ng-template>
<section class="container d-flex justify-content-center">
	<form [formGroup]="Form" (ngSubmit)="handleSubmit()" class="d-flex flex-column w-50">
		<div class="row">
			<div class="col">
				<mat-form-field class="w-100">
					<mat-label>الأسم</mat-label>
					<input matInput formControlName="name" />
					<mat-error *ngIf="name.errors?.['required']"> Name is <strong>required</strong> </mat-error>
				</mat-form-field>
			</div>
		</div>
		<div class="my-2 d-flex flex-row-reverse">
			<button mat-flat-button color="warn" class="mx-2 px-4" disabled="{{ !Form.valid }}">حفظ</button>
			<button type="button" mat-stroked-button color="basic" (click)="back()">رجوع</button>
		</div>
	</form>
</section>
