<div class="container">
	<h3 mat-dialog-title>سيتم حذف البيانات التالية , هل انت متأكد؟</h3>
	<div mat-dialog-content>
		<h4><strong>Id:</strong> {{data.id}}</h4>
		<h4><strong>الخامة : </strong>{{data.material}}</h4>
		<h4><strong>الحالة : </strong>{{data.status}}</h4>
		<h4><strong>الكمية :</strong>{{data.quantity}}</h4>
		<h4><strong>ملحوظات :</strong>{{data.comment}}</h4>
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button color="warn" (click)="confirmDelete()">{{isSubmitting?'انتظر من فضلك':'حذف'}}</button>
		<button mat-raised-button (click)="onNoClick()" tabindex="-1">إلغاء</button>
	</div>
</div>
