<div class="d-flex w-100">
  <div class="row mr-0 w-100 justify-content-between print-pad">
    <h4 mat-dialog-title class="title-print" style="width: fit-content">تفاصيل الطلب</h4>
    <div class="print-only" style="width: fit-content">
      <img src="/assets/Layer.png" style="width: 50px; height: 50px" alt="One Library" />
    </div>
  </div>
</div>
<mat-dialog-content *ngIf="order" class="print-dialog-content mt-0">
  <div class="print-only">
    <hr />
    <div class="text-center">
      <ngx-barcode6 bc-value="bar-{{ order.id }}" [bc-display-value]="true" [bc-element-type]="'img'" [bc-width]="2" [bc-height]="35" [bc-font-size]="15" [bc-margin]="5"></ngx-barcode6>
    </div>
  </div>
  <hr />
  <div class="info">
    <div class="row">
      <div class="col-md-4 col-12">
        <span class="heading"><strong>التاريخ</strong>: </span>
        <span>{{ order.createdOn | date : 'dd/MM/yyyy' }}</span>
      </div>
      <div class="col-md-4 col-12">
        <span class="heading"><strong>تم بواسطة</strong>: </span>
        <span>{{ order.createdBy }}</span>
      </div>
      <div class="col-md-4 col-12">
        <span class="heading"><strong>كود الطلب</strong>: </span>
        <span>{{ order.id }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-12">
        <span class="heading"><strong>العميل</strong>: </span>
        <span>{{ order.clientName }}</span>
      </div>
      <div class="col-md-4 col-12">
        <span class="heading"><strong>رقم التليفون</strong>: </span>
        <span>{{ order.clientPhoneNumber }}</span>
      </div>
    </div>
  </div>
  <hr />
  <div class="pricing">
    <div class="row">
      <div class="col-6">
        <h4><strong>الصنف</strong></h4>
      </div>
      <div class="col-3">
        <h4><strong>الكمية</strong></h4>
      </div>
      <div class="col-3">
        <h4><strong>السعر</strong></h4>
      </div>
    </div>
    <div class="row" *ngFor="let o of order.orderDetails">
      <div class="col-6">
        <span>{{ o.note ?? o.service }}</span>
      </div>
      <div class="col-3">
        <span>{{ o.quantity }}</span>
      </div>
      <div class="col-3">
        <span>&pound;{{ o.price | number : '1.2-2' }}</span>
      </div>
    </div>
  </div>
  <hr />
  <div class="total">
    <div class="row">
      <div class="col-9">الأجمالي</div>
      <div class="col-3">
        <strong>&pound;{{ order.totalPrice | number : '1.2-2' }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-9">الخصم بالمبلغ</div>
      <div class="col-3">
        <strong>&pound;{{ order.discount | number : '1.2-2' }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-9">نسبة الخصم</div>
      <div class="col-3">
        <strong>% {{ order.discountPercent | number : '1.2-2' }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-9">السعر النهائي</div>
      <div class="col-3">
        <strong>&pound;{{ order.finalPrice | number : '1.2-2' }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-9">المدفوع</div>
      <div class="col-3">
        <strong>&pound;{{ order.paid | number : '1.2-2' }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-9">المتبقي</div>
      <div class="col-3">
        <strong>&pound;{{ order.rest | number : '1.2-2' }}</strong>
      </div>
    </div>
  </div>
  <hr *ngIf="order.remarks" />
  <div class="pricing" *ngIf="order.remarks">
    <h4><strong>الملاحظات</strong></h4>
    <div class="row">
      <div class="col-12 mb-1">{{ order.remarks }}</div>
    </div>
  </div>
  <div class="hide">
    <hr />
    <h3><strong>تتبع الطلب</strong></h3>
    <div class="w-100 d-flex flex-column justify-content-center align-items-center flex-nowrap align-content-center">
      <mat-progress-bar class="row" mode="determinate" [value]="progress" color="warn"></mat-progress-bar>
      <ul class="tracklist row w-100 justify-content-between">
        <li class="col-nader text-nowrap me-0">غير مكتمل</li>
        <!-- <li class="col-nader text-nowrap me-0">جاهز</li>
        <li class="col-nader text-nowrap me-0">تم التسليم</li> -->
        <li class="col-nader text-nowrap me-0">اكتمل</li>
      </ul>
    </div>
  </div>
</mat-dialog-content>
