.info {
	padding: 0 8% 2%;
}
.info .col-5 {
	padding: 0;
}
#heading {
	color: grey;
}
.pricing {
	background-color: #ddd3;
	padding: 0 8%;
	font-weight: 400;
}
.pricing .col-3 {
	padding: 0;
}
.total {
	padding: 2vh 8%;
	font-weight: bold;
}
.total .col-3 {
	padding: 0;
}
.tracklist {
	list-style: none;
	padding: 0;
}
.col-nader {
	width: 12.5%;
	margin: 0;
}

.mat-typography {
	width: 750px;
}

@media print {
	.hide {
		display: none;
	}
	.mat-typography {
		width: 8cm;
	}
	.direction {
		flex-direction: column;
	}
	.w {
		width: 100% !important;
	}
}
