.info {
	padding: 0 8% 2%;
}
.info .col-5 {
	padding: 0;
}
.heading {
	color: grey;
}
.pricing {
	background-color: #ddd3;
	padding: 0 8%;
	font-weight: 400;
}
.pricing .col-3 {
	padding: 0;
}
.total {
	padding: 2vh 8%;
	font-weight: bold;
}
.total .col-3 {
	padding: 0;
}
.tracklist {
	list-style: none;
	padding: 0;
}
.col-nader {
	width: 12.5%;
	margin: 0;
}
.titl {
	margin-bottom: 0;
	border: 1px solid black;
}
.print-pad {
	padding: 1rem 1rem 0 1rem;
}
.print-only {
	display: none;
}

@media print {
	@page {
		size: 112mm auto;
		margin: 0;
	}
	* {
		color: black;
	}
	.print-dialog-content {
		font-size: 14pt !important;
		line-height: 1.2 !important;
		margin: 0 !important;
		padding: 5px !important;
		width: 100% !important;
		box-shadow: none !important;
	}
	.title-print {
		font-size: 10pt;
	}
	.heading {
		font-weight: bold;
	}
	.pricing {
		margin-top: 0px;
    padding: 0;
	}
	.pricing h4 {
		font-weight: bold;
		margin-bottom: 0px;
	}
  hr{
    margin-top: 5px;
    margin-bottom: 5px;
  }
	.pricing h5 {
		margin-bottom: 0px;
	}
	.total {
		margin-top: 0px;
    padding: 0px;
	}
	.total strong {
		font-weight: bold;
	}
  .info{
    padding: 0px;
  }
	.print-only {
		display: block;
	}
	.hide {
		display: none;
	}
}
