<h2 mat-dialog-title>تفاصيل الطلب</h2>
<mat-dialog-content *ngIf="order" class="mat-typography" id="print-section">
	<div class="info" >
		<div class="row direction">
			<div class="col-4 w">
				<span id="heading"><strong>التاريخ</strong></span>
				<br />
				<span>{{ order.createdOn | date : 'dd/MM/yyyy' }}</span>
			</div>
			<div class="col-4 w">
				<span id="heading"><strong>تم بواسطة</strong></span>
				<br />
				<span>{{ order.createdBy }}</span>
			</div>
			<div class="col-4 w">
				<span id="heading"><strong>كود الطلب</strong></span>
				<br />
				<span>{{ order.id }}</span>
			</div>
		</div>
	</div>
	<div class="pricing">
		<div class="row">
			<div class="col-6">
				<h4><strong>الصنف</strong></h4>
			</div>
			<div class="col-3">
				<h4><strong>الكمية</strong></h4>
			</div>
			<div class="col-3">
				<h4><strong>السعر</strong></h4>
			</div>
		</div>

		<div class="row" *ngFor="let o of order.orderDetails">
			<div class="col-6">
				<h5>{{ o.note ?? o.service }}</h5>
			</div>
			<div class="col-3">
				<h5>{{ o.quantity }}</h5>
			</div>
			<div class="col-3">
				<h5>&pound;{{ o.price }}</h5>
			</div>
		</div>

	</div>
	<div class="total">
		<div class="row">
			<div class="col-9">الأجمالي</div>
			<div class="col-3">
				<strong>&pound;{{ order.totalPrice }}</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-9">الخصم بالمبلغ</div>
			<div class="col-3">
				<strong>&pound;{{ order.discount }}</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-9">نسبة الخصم</div>
			<div class="col-3">
				<strong>% {{ order.discountPercent }}</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-9">السعر النهائي</div>
			<div class="col-3">
				<strong>&pound;{{ order.finalPrice }}</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-9">المدفوع</div>
			<div class="col-3">
				<strong>&pound;{{ order.paid }}</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-9">المتبقي</div>
			<div class="col-3">
				<strong>&pound;{{ order.rest }}</strong>
			</div>
		</div>
	</div>
	<div class="hide">
		<h3><strong>تتبع الطلب</strong></h3>
		<div
			class="w-100 d-flex flex-column justify-content-center align-items-center flex-nowrap align-content-center">
			<mat-progress-bar class="row" mode="determinate" [value]="orderTrackingProgress(order.orderStatus)"
				color="warn"></mat-progress-bar>
			<ul class="tracklist row w-100 justify-content-between">
				<li class="col-nader text-nowrap me-0">غير مكتمل</li>
				<li class="col-nader text-nowrap me-0">اعداد</li>
				<li class="col-nader text-nowrap me-0">جاهز</li>
				<li class="col-nader text-nowrap me-0">تم التسليم</li>
				<li class="col-nader text-nowrap me-0">اكتمل</li>
			</ul>
		</div>
	</div>
</mat-dialog-content>
<!-- <mat-dialog-actions align="start" class="hide">
	<button mat-stroked-button matTooltip="print" printSectionId="print-section" aria-label="print reset" ngxPrint [useExistingCss]="true" printTitle="فاتورة العميل">
		<mat-icon>print</mat-icon>طباعة
	</button>
</mat-dialog-actions> -->