.gradient-custom {
	/* fallback for old browsers */
	background: rgb(246 101 101);
	background: -webkit-linear-gradient(to right, rgb(246 101 101), rgb(151 6 6));
	background: linear-gradient(to right, rgb(246 101 101), rgb(151 6 6));
}
