<div class="container">
	<!-- <h2 mat-dialog-title *ngIf="id.value; else update">تعديل تحركات الخامة</h2>
	<ng-template #update>
		<h2 mat-dialog-title>تسجيل الخامات الواردة</h2>
	</ng-template> -->
	<h2 mat-dialog-title>تسجيل الخامات الواردة</h2>
	<mat-dialog-content>
		<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="d-flex flex-column mat-dialog-content">
			<div class="row">
				<div class="col-9">
					<mat-form-field appearance="fill" class="w-100">
						<mat-label>الخامة</mat-label>
						<mat-select formControlName="materialId">
							<mat-option *ngFor="let emp of MaterialDataSource" [value]="emp.id">{{ emp.name }}</mat-option>
						</mat-select>
						<mat-error *ngIf="materialId.hasError('required') && (materialId.touched || materialId.dirty)"> يجب اختيار الخامة</mat-error>
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field appearance="fill" class="w-100">
						<mat-label>الكمية</mat-label>
						<input type="number" matInput formControlName="quantity" />
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field appearance="fill" class="w-100">
						<mat-label>ملاحظات</mat-label>
						<input type="text" matInput formControlName="comment" />
					</mat-form-field>
				</div>
			</div>
			<div mat-dialog-actions>
				<button mat-raised-button type="submit" color="primary" [disabled]="!form.valid||isSubmitting" class="mx-2 px-4">{{isSubmitting?'انتظر من فضلك':'حفظ'}}</button>
				<button type="button" mat-stroked-button color="warn" (click)="onNoClick()" tabindex="-1">إلغاء</button>
			</div>
		</form>
	</mat-dialog-content>
</div>
