<section class="container-fluid d-flex flex-column py-2 h-100">
  <div class="flex-grow-1 mat-elevation-z2 w-100 overflow-auto">
    <table tabindex="0" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort [matSortActive]="activeSortColumn" matSortDirection="desc" recycleRows>
      <ng-container *ngFor="let column of tableColumns; let first = first; let last = last" [matColumnDef]="'header_' + column.columnDef" [sticky]="first || last">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="setActiveSortColumn(column.columnDef)">
          {{ column.header }}
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!column.columnDef.toLowerCase().includes('barcode'); else barcode">
            {{ formatCellValue(column, row) }}
          </ng-container>
          <ng-template #barcode>
            <ngx-barcode6
              [bc-value]="column.cell(row)"
              [bc-display-value]="true"
              [bc-element-type]="'img'"
              [bc-width]="2"
              [bc-height]="35"
              [bc-font-size]="15"
              [bc-margin]="5"
            ></ngx-barcode6>
          </ng-template>
        </td>
      </ng-container>
      <ng-container *ngFor="let column of tableColumns; let first = first" [matColumnDef]="column.columnDef" [sticky]="first">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field color="warn" class="w-100">
            <!-- Check if the column is an enum -->
            <ng-container *ngIf="isEnumColumn(column); else textInput">
              <mat-select [(ngModel)]="column.filterValue" (selectionChange)="handleColumnFilter($event, column.columnDef)">
                <mat-option [value]="null">-</mat-option>
                <mat-option *ngFor="let option of column.enumOptions" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </ng-container>
            <!-- Fallback to text input if not an enum or date column -->
            <ng-template #textInput>
              <input
                matInput
                type="text"
                [(ngModel)]="column.filterValue"
                [disabled]="column.disableFilter"
                (input)="$event.stopPropagation(); handleColumnFilter($event, column.columnDef)"
              />
            </ng-template>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
          <button matSuffix color="warn" mat-icon-button aria-label="Clear" (click)="clearAllFilters()">
            <mat-icon>close</mat-icon>
          </button>
        </th>
      </ng-container>

      <ng-container matColumnDef="header_actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
          <button *ngIf="canAdd" mat-icon-button color="basic" (click)="HandleNew()" matTooltip="اضافة جديد">
            <mat-icon aria-label="new item">add</mat-icon>
          </button>
          <button *ngIf="toggleShift" mat-stroked-button color="warn" (click)="HandleNew()">تغيير الشيفت</button>
          <button mat-icon-button color="basic" (click)="collapseAllRows()" *ngIf="canExpand" matTooltip="اغلاق الكل">
            <mat-icon aria-label="collapse all">expand_less</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row" class="min-w-200">
          <ng-container *ngFor="let action of actions">
            <button mat-icon-button color="basic" *ngIf="action.condition(row)" [matTooltip]="action.tooltip(row)" (click)="action.action(row); $event.stopPropagation()">
              <mat-icon>{{ action.icon(row) }}</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <!-- Header row definition -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns; sticky: true"></tr>
      <!-- end of header row definition -->
      <!-- Row Data -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="element-row" matRipple [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></tr>
      <!-- Ends of Row Data -->
      <!-- No Data Found Row Definition -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" [colSpan]="displayedColumns.length">
          <ng-container *ngIf="database.isLoading">
            <mat-spinner class="mx-auto mt-5" color="warn"></mat-spinner>
          </ng-container>
          <ng-container *ngIf="!database.isLoading"> لا يوجد بيانات </ng-container>
        </td>
      </tr>
      <!-- End of No Data found -->
    </table>
  </div>

  <mat-paginator
    class="d-flex"
    #paginator
    [pageSizeOptions]="PAGE_SIZE_OPTIONS"
    [pageSize]="25"
    (page)="onPageChange()"
    [length]="filteredDataLength"
    showFirstLastButtons
    color="warn"
  >
  </mat-paginator>
</section>
<ng-template #tpl let-row>
  <td [attr.colspan]="displayedColumns.length" *ngIf="row.noteClients && row.noteClients.length > 0">
    <table mat-table [dataSource]="row.noteClients" class="table table-striped shadow-sm">
      <ng-container matColumnDef="name" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef style="width: 800px">الإسم</th>
        <td mat-cell *matCellDef="let noteClient" style="width: 800px">{{ noteClient?.name }}</td>
        <td mat-footer-cell *matFooterCellDef style="width: 800px">الأجمالي</td>
      </ng-container>
      <ng-container matColumnDef="quantity" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef>الكمية</th>
        <td mat-cell *matCellDef="let noteClient">{{ noteClient?.quantity }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotal(row.noteClients) }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'quantity']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'quantity']"></tr>
      <tr mat-footer-row *matFooterRowDef="['name', 'quantity']" class="border-top border-bottom border-danger"></tr>
    </table>
  </td>
</ng-template>
