<div class="container">
	<h2 class="w-100 text-center mt-3">تغيير الشيفت وتسليم العهدة</h2>
	<mat-dialog-content>
		<section class="d-flex">
			<form [formGroup]="Form" (ngSubmit)="handleSubmit()" class="d-flex flex-column w-100">
				<div class="row">
					<div class="col">
						<mat-form-field class="w-100" color="warn">
							<mat-label>العهدة</mat-label>
							<input type="number" matInput formControlName="guarante" min="0"/>
							<mat-error *ngIf="guarante.errors?.['required']">يجب إدخال قيمة العهدة</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="my-2 d-flex flex-row-reverse">
					<button mat-flat-button color="warn" class="mx-2 px-4" disabled="{{ !Form.valid }}">حفظ</button>
					<button type="button" mat-stroked-button color="basic" (click)="onNoClick()">رجوع</button>
				</div>
			</form>
		</section>
	</mat-dialog-content>
</div>
