<div class="container" *ngIf="!isLoading">
  <div class="row my-2">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-icon aria-label="العملاء">groups</mat-icon>
          </div>
          <mat-card-title> العملاء </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ dashboardStatistics?.clientsCount ?? '--' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-icon aria-label="الموظفون">badge</mat-icon>
          </div>
          <mat-card-title> الموظفون </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ dashboardStatistics?.employeesCount ?? '--' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-icon aria-label="الطلبات">shopping_cart</mat-icon>
          </div>
          <mat-card-title> الطلبات </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ dashboardStatistics?.ordersCount ?? '--' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-icon aria-label="المذكرات">menu_book</mat-icon>
          </div>
          <mat-card-title> المذكرات </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ dashboardStatistics?.notesCount ?? '--' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <mat-card>
        <mat-card-content>
          <canvas
            class="w-100 h-100"
            baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend"
          >
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="h-100 d-flex justify-content-center">
        <mat-card-content class="row">
          <canvas
            *ngIf="dashboardData"
            class="w-100 h-100"
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'"
          >
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading" class="h-100">
  <mat-spinner class="d-block h-100 mx-auto" color="warn"></mat-spinner>
</ng-container>
