<h2 class="w-100 text-center mt-3" *ngIf="id; else update">تعديل الطلب</h2>
<ng-template #update>
	<h2 class="w-100 text-center mt-3">طلب جديد</h2>
</ng-template>
<section class="container">
	<form [formGroup]="Form" (ngSubmit)="handleSubmit()" class="d-flex flex-column">
		<div class="row">
			<mat-form-field appearance="fill" class="col-4">
				<mat-label>نوع العميل</mat-label>
				<mat-select [disabled]="disableMode" (selectionChange)="getAllClientsByType($event)" #clientType>
					<mat-option (onSelectionChange)="getAllClientsByType(mat)" *ngFor="let mat of ClientTypesDataSource" [value]="mat.id">{{ mat.name }}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill" class="col-7">
				<mat-label>العميل</mat-label>
				<mat-select formControlName="clientId">
					<mat-option *ngFor="let mat of ClientsDataSource" [value]="mat.id">{{ mat.name }}</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="col-1">
				<button [disabled]="disableMode || !clientId.value || clientId.invalid" type="button" mat-icon-button matTooltip="add" color="basic" aria-label="add order detail row" (click)="handleNewDetail()">
					<mat-icon>add</mat-icon>
				</button>
			</div>
		</div>
		<!-- order details -->
		<div formArrayName="orderDetails" *ngIf="OrderDetails.controls.length">
			<div class="row" *ngFor="let detail of OrderDetails.controls; let i = index">
				<ng-container [formGroupName]="i">
					<div class="col-3">
						<div hidden *ngIf="orderToBeUpdated">
							<div hidden  *ngFor="let detail of orderToBeUpdated.orderDetails">
								<input hidden formControlName="id">
							</div>
						</div>
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>الخدمات</mat-label>
							<mat-select formControlName="serviceId" (selectionChange)="getPrice($event.value, i)" [id]="'mat-service-' + i.toString()" #matservice>
								<mat-option *ngFor="let mat of ServicesDataSource" [value]="mat.id">{{ mat.name }}</mat-option>
								<hr />
								<div class="row no-gutters p-1">
									<div class="col-sm-12 text-right m-1">
										<button type="button" class="btn btn-danger" (click)="enableAndDisableDDL(i, matservice)">disable</button>
									</div>
								</div>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-2">
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>المذكرات</mat-label>
							<mat-select formControlName="noteId" (selectionChange)="onNoteValueChanged(i)" #matNote>
								<mat-option *ngFor="let mat of NotesDataSource" [value]="mat.id">{{ mat.name }}</mat-option>
								<hr />
								<div class="row no-gutters p-1">
									<div class="col-sm-12 text-right m-1">
										<button type="button" class="btn btn-danger" (click)="enableAndDisableDDL(i, matNote)">disable</button>
									</div>
								</div>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-2">
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>{{'quantity' | translate}}</mat-label>
							<input type="number" matInput formControlName="quantity" (change)="getQuantityAndUpdatePriceInputForService(i)" />
						</mat-form-field>
					</div>
					<div class="col-2">
						<mat-form-field class="w-100">
							<mat-label>السعر</mat-label>
							<input type="number" matInput formControlName="price" [readonly]="true" #priceRef />
						</mat-form-field>
					</div>
					<div class="col-2">
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>حالة الطلب</mat-label>
							<mat-select formControlName="orderStatus">
								<mat-option *ngFor="let status of availableStatus" [value]="status">
									{{ getStatusLabel(status) }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-1">
						<button [disabled]="disableMode" type="button" mat-icon-button matTooltip="delete" color="warn" aria-label="delete selected row" (click)="handleDeleteDetail(i)">
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</ng-container>
			</div>
		</div>
		<!-- end order details -->
		<div class="row">
			<div class="col-4">
				<mat-form-field class="w-100">
					<mat-label>السعر الاجمالي</mat-label>
					<input type="number" matInput formControlName="totalPrice" [readonly]="true" />
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field class="w-100">
					<mat-label>خصم مبلغ</mat-label>
					<input type="number" matInput formControlName="discount" (change)="computeDiscountPercent()" />
				</mat-form-field>
			</div>
			<div class="col-3">
				<mat-form-field class="w-100">
					<mat-label>خصم نسبة</mat-label>
					<input type="number" matInput formControlName="discountPercent" (change)="computeDiscountValue()" />
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field class="w-100">
					<mat-label>السعر النهائي</mat-label>
					<input type="number" matInput formControlName="finalPrice" [readonly]="true" />
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field class="w-100">
					<mat-label>المدفوع</mat-label>
					<input type="number" matInput formControlName="paid" (change)="computeRest()" />
				</mat-form-field>
			</div>
			<div class="col-3">
				<mat-form-field class="w-100">
					<mat-label>الباقي</mat-label>
					<input type="number" matInput formControlName="rest" [readonly]="true" />
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-11">
				<mat-form-field class="w-100">
					<mat-label>ملحوظات العميل</mat-label>
					<textarea matInput formControlName="remarks"></textarea>
				</mat-form-field>
			</div>
		</div>
		<div class="my-2 d-flex flex-row-reverse">
			<button mat-flat-button color="warn" class="mx-2 px-4" disabled="{{ !Form.valid }}">حفظ</button>
			<button type="button" mat-stroked-button color="basic" (click)="back()">رجوع</button>
		</div>
	</form>
</section>
