<div class="container">
	<h2 class="w-100 text-center mt-3">{{ 'order.transaction' | translate }}</h2>
	<mat-dialog-content>
		<form [formGroup]="Form" (ngSubmit)="handleSubmit()" class="d-flex flex-column">
			<div class="row">
				<mat-form-field appearance="fill" class="w-100" color="warn">
					<mat-label>رقم الطلب</mat-label>
					<input type="text" matInput formControlName="orderId" readonly />
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field appearance="fill" class="w-100" color="warn">
					<mat-label>المدفوع</mat-label>
					<input id="paid" matInput type="number" formControlName="paid" />
					<mat-error *ngIf="paid.errors?.['required']">المبلغ المدفوع مطلوب</mat-error>
					<mat-error *ngIf="paid.hasError('exceed')"> المبلغ المدفوع &lt; او = {{paid.errors?.['value']}} </mat-error>
				</mat-form-field>
			</div>
			<div class="my-2 d-flex flex-row-reverse">
				<button mat-raised-button color="warn" class="mx-2 px-4" [disabled]="!Form.valid || isSubmitting">{{ isSubmitting ? 'button.wait' : ('button.save' | translate) }}</button>
				<button type="button" mat-stroked-button color="warn" (click)="onNoClick()">{{ 'button.back' | translate }}</button>
			</div>
		</form>
	</mat-dialog-content>
</div>
