<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/dashboard']">
            <img src="assets/Layer.png" width="30" height="30" class="d-inline-block align-top" alt="one library" />
        </a>
        <button
            class="navbar-toggler"
            color="basic"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" style="margin-left: 3rem" id="navbarNav">
            <ul class="navbar-nav">
                <app-navbar-dropdown [navItems]="navItems" style="display: flex"></app-navbar-dropdown>
            </ul>
            <div class="navbar-nav align-items-center">
                <!-- <app-fiscal-year *ngIf="isAdmin"></app-fiscal-year> -->
                <li class="nav-item dropdown">
                    <span
                        class="nav-link dropdown-toggle"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        >مرحبا {{ authService.loggedInUser?.fullName ?? '- -' }}</span
                    >
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item">
                            <button
                                class="w-100"
                                type="button"
                                mat-button
                                color="basic"
                                [routerLink]="['/profile']"
                                routerLinkActive="active link-danger">
                                الصفحةالشخصية
                            </button>
                        </li>
                        <li class="dropdown-item" *ngIf="authService.isAdmin">
                            <button
                                class="w-100"
                                type="button"
                                mat-button
                                routerLinkActive="active link-danger"
                                (click)="startNewFiscalYear()">
                                بدأ عام دراسي جديد
                            </button>
                        </li>
                        <li class="dropdown-item">
                            <button
                                class="w-100"
                                type="button"
                                (click)="!isCheckedIn ? handleCheckIn() : handleCheckOut()"
                                mat-button
                                routerLinkActive="active link-danger">
                                {{ !isCheckedIn ? 'تسجيل الحضور' : 'تسجيل الانصراف' }}
                            </button>
                        </li>
                        <li class="dropdown-item">
                            <button
                                class="w-100"
                                type="button"
                                (click)="handleLogout()"
                                mat-button
                                routerLinkActive="active link-danger">
                                تسجيل خروج
                            </button>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
