<div class="mt-2" *ngIf="fileName; else upload">
	<div class="single-file">
		<div class="d-flex align-items-center justify-content-between">
			<div>
				<h4 class="name">
					<mat-icon color="warn" class="align-middle"> picture_as_pdf </mat-icon>
					{{ fileName }}
				</h4>
			</div>
			<div>
				<button class="formDocBtn" mat-icon-button color="warn" aria-label="remove file" matTooltip="delete cetrificate" (click)="deleteFile()">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
<ng-template #upload>
	<div class="wrapper" appDragAndDrop (fileDropped)="onFileDropped($event)" *ngIf="!file">
		<input type="file" accept=".pdf" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)" />
		<mat-icon color="warn" shake>folder</mat-icon>
		<h3>Click to upload certificate or simply drag and drop file here</h3>
		<h5>supported media types : <strong>PDF</strong></h5>
		<h5>maximum file size : <strong>5 MB</strong></h5>
	</div>
	<div class="mt-2">
		<div class="single-file" *ngIf="file">
			<div class="d-flex align-items-center justify-content-between">
				<div>
					<h4 class="name">
						<mat-icon color="warn" class="align-middle"> picture_as_pdf </mat-icon>
						{{ file.name }}
					</h4>
					<p class="size">{{ formatBytes(file.size) }}</p>
				</div>
				<button class="delete" mat-icon-button color="warn" aria-label="remove file" (click)="deleteFile()">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
			<div class="row">
				<div class="col-12">
					<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
				</div>
			</div>
		</div>
	</div>
</ng-template>
