<div class="container">
	<h2 mat-dialog-title>تسديد ربح المدرس</h2>
	<mat-dialog-content>
		<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="d-flex flex-column mat-dialog-content">
			<div class="row">
				<div class="col">
					<mat-form-field appearance="fill" class="w-100" color="warn">
						<mat-label>الكمية</mat-label>
						<input type="number" matInput formControlName="amount" />
					</mat-form-field>
				</div>
			</div>
			<div class="my-2 d-flex flex-row-reverse">
				<button mat-raised-button type="submit" color="warn" [disabled]="!form.valid || isSubmitting" class="mx-2 px-4">{{ isSubmitting ? 'انتظر من فضلك' : 'حفظ' }}</button>
				<button type="button" mat-stroked-button color="warn" (click)="onNoClick()" tabindex="-1">إلغاء</button>
			</div>
		</form>
	</mat-dialog-content>
</div>
