<div class="container w-100">
	<h2 class="w-100 text-center mt-3" *ngIf="id.value; else update">تعديل المذكرة</h2>
	<ng-template #update>
		<h2 class="w-100 text-center mt-3">مذكرة جديدة</h2>
	</ng-template>
	<mat-dialog-content>
		<form [formGroup]="Form" class="d-flex flex-column">
			<div class="row">
				<autocomplete class="col-3" label="نوع العميل" [dataSource]="ClientTypesDataSource" (selectedId)="setClientTypeId($event)" [selectedValue]="clientTypeId.value"></autocomplete>
				<autocomplete class="col-3" label="أسم العميل" [dataSource]="ClientsDataSource" (selectedId)="setClientId($event)" [selectedValue]="clientId.value"></autocomplete>
				<mat-form-field color="warn" appearance="fill" class="col-3">
					<mat-label>المرحلة</mat-label>
					<mat-select formControlName="stageId">
						<mat-option *ngFor="let mat of StagesDataSource" [value]="mat.id">{{ mat.name }}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field color="warn" appearance="fill" class="col-3">
					<mat-label>الترم</mat-label>
					<mat-select formControlName="termId">
						<mat-option *ngFor="let mat of TermsDataSource" [value]="mat.id">{{ mat.name }}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="row">
				<div class="col-6">
					<mat-form-field color="warn" class="w-100">
						<mat-label>أسم المذكرة</mat-label>
						<input type="text" matInput formControlName="name" />
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field color="warn" class="w-100">
						<mat-label>هامش ربح المدرس</mat-label>
						<input type="number" min="0" matInput formControlName="teacherPrice" />
					</mat-form-field>
				</div>
				<div class="col-2">
					<mat-form-field color="warn" class="w-100">
						<mat-label>الكمية</mat-label>
						<input type="number" min="0" matInput formControlName="quantity" />
					</mat-form-field>
				</div>
				<div class="col-1">
					<button type="button" mat-icon-button matTooltip="add" color="basic" aria-label="add note component row" (click)="handleNewNoteComponent()" [disabled]="!clientId.value || clientId.invalid">
						<mat-icon>add</mat-icon>
					</button>
					<!-- <mat-hint>test</mat-hint> -->
				</div>
			</div>
			<!-- note components -->
			<div formArrayName="noteComponents" *ngIf="noteComponents.controls.length">
				<div class="row" *ngFor="let component of noteComponents.controls; let i = index">
					<ng-container [formGroupName]="i">
						<div class="col-6">
							<mat-form-field color="warn" appearance="fill" class="w-100" *ngIf="!component.value['id']; else disabled">
								<mat-label>الخدمات</mat-label>
								<mat-select formControlName="serviceId">
									<mat-option *ngFor="let service of getPricedServicesForSelectedClientType(clientTypeId.value)" [value]="service.id">{{ service.name }}</mat-option>
								</mat-select>
							</mat-form-field>
							<ng-template #disabled>
								<mat-form-field color="warn" appearance="fill" class="w-100">
									<mat-label>الخدمات</mat-label>
									<input type="text" matInput formControlName="service" readonly="true" />
								</mat-form-field>
							</ng-template>
						</div>
						<div class="col-3">
							<mat-form-field color="warn" appearance="fill" class="w-100">
								<mat-label>السعر</mat-label>
								<input type="number" matInput formControlName="price" readonly="true" />
							</mat-form-field>
						</div>
						<div class="col-2">
							<mat-form-field color="warn" appearance="fill" class="w-100">
								<mat-label>الكمية</mat-label>
								<input type="number" min="0" matInput formControlName="quantity" />
							</mat-form-field>
						</div>
						<div class="col-1">
							<button type="button" mat-icon-button matTooltip="delete" color="warn" aria-label="delete selected row" (click)="handleDeleteNoteComponent(i)">
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</ng-container>
				</div>
			</div>
			<!-- end note components -->
			<div class="row">
				<div class="col-3">
					<mat-form-field color="warn" class="w-100">
						<mat-label>السعر الفعلي</mat-label>
						<input type="number" matInput [readonly]="true" formControlName="actualPrice" />
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field color="warn" class="w-100">
						<mat-label>السعر التكلفة</mat-label>
						<input type="number" matInput [readonly]="true" formControlName="originalPrice" />
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field color="warn" class="w-100">
						<mat-label>هامش الربح</mat-label>
						<input type="number" matInput [readonly]="true" formControlName="earning" />
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field color="warn" class="w-100">
						<mat-label>السعر النهائي</mat-label>
						<input type="number" matInput [readonly]="true" formControlName="finalPrice" />
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<app-drag-and-drop [fileName]="fileName.value" (selectedFile)="getSelectedFiles($event)" [progress]="progress"></app-drag-and-drop>
			</div>
		</form>
	</mat-dialog-content>
</div>
