<mat-card class="container">
	<form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
		<mat-card-header>
			<mat-card-title>تسجيل حساب جديد</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field appearance="fill" class="w-100">
				<mat-label>أسم المستخدم</mat-label>
				<input matInput formControlName="username" />
				<mat-error *ngIf="username.errors?.['required']"> username is <strong>required</strong> </mat-error>
				<mat-error *ngIf="username.hasError('maxlength') && !username.errors?.['required']">
					username must be less than {{username.errors?.['maxlength']['requiredLength']}} character
				</mat-error>
			</mat-form-field>
			<!-- <mat-form-field appearance="fill" class="w-100">
				<mat-label>Phone Number</mat-label>
				<input type="tel" matInput formControlName="phoneNumber" />
				<mat-icon matSuffix>phone</mat-icon>
				<mat-error *ngIf="phone.errors?.['pattern']&& !phone.errors?.['required']"> Please enter a valid phone number </mat-error>
				<mat-error *ngIf="phone.errors?.['required']"> phone number is <strong>required</strong> </mat-error>
			</mat-form-field> -->
			<mat-form-field appearance="fill" class="w-100">
				<mat-label>الرقم السري</mat-label>
				<input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
				<button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
				</button>
				<mat-error *ngIf="password.errors?.['minlength'] && !password.errors?.['required']">
					password must be greater than {{password.errors?.['minlength']?.['requiredLength']}} character
				</mat-error>
				<mat-error *ngIf="password.errors?.['required']"> Password is <strong>required</strong> </mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill" class="w-100">
				<mat-label>تاكيد الرقم السري</mat-label>
				<input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" />
				<button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
				</button>
				<mat-error *ngIf="confirmPassword.errors?.['required']"> confirm Password is <strong>required</strong> </mat-error>
			</mat-form-field>
			<mat-error *ngIf="registerForm.hasError('mismatch') &&!confirmPassword.errors?.['required']"> confirm Password is incorrect </mat-error>
		</mat-card-content>
		<mat-card-actions align="end">
			<button mat-flat-button color="warn" [disabled]="!registerForm.valid">إنشاء الحساب</button>
			<button type="button" mat-button color="basic" (click)="handleLogin()">لديك حساب بالفعل</button>
		</mat-card-actions>
	</form>
</mat-card>
