<mat-dialog-content>
	<div class="d-flex flex-column">
		<h3 mat-dialog-title>{{ 'warn.deletion.message' | translate }}</h3>
		<div mat-dialog-content *ngFor="let key of data.row | keyvalue">
			<h4 dir="ltr">
				{{ key.value }}<strong> : {{ getTranslatedString(key.key) }}</strong>
			</h4>
		</div>
		<div class="my-2 d-flex flex-row-reverse">
			<button mat-raised-button type="submit" color="warn" class="mx-2 px-4">
				{{ (isSubmitting ? 'button.wait' : 'button.delete') | translate }}
			</button>
			<button type="button" mat-stroked-button color="warn" (click)="onNoClick()" tabindex="-1">{{ 'button.back' | translate }}</button>
		</div>
	</div>
</mat-dialog-content>
