<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="['']">
			<img src="assets/Layer.png" width="30" height="30" class="d-inline-block align-top" alt="oceandro shipyard" />
		</a>
		<button class="navbar-toggler" color="basic" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
			<ul class="navbar-nav" *ngIf="data.isLogged">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" [routerLink]="['']" routerLinkActive="active link-danger" [routerLinkActiveOptions]="{exact: true}">الرئيسية</a>
				</li>
				<li class="nav-item dropdown">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">إدارة الخدمات</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['services']" routerLinkActive="active link-danger">الخدمات</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['serviceTypes']" routerLinkActive="active link-danger">انواع الخدمات</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['servicePrice']" routerLinkActive="active link-danger">خدمة لكل فئة</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">إدارة العملاء</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['clients']" routerLinkActive="active link-danger">العملاء</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['clientTypes']" routerLinkActive="active link-danger">أنواع العملاء</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link disabled" [routerLink]="['feadback']" routerLinkActive="active link-danger">تعليقات العملاء</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">إدارة الموظفون</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['employees']" routerLinkActive="active link-danger">الموظفون</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link disabled" [routerLink]="['attendance']" routerLinkActive="active link-danger">الحضور والانصراف</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">الخامات</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" aria-current="page" [routerLink]="['materials']" routerLinkActive="active link-danger">الخامات</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link disabled" aria-current="page" [routerLink]="['0']" routerLinkActive="active link-danger">سجل أستهلاك الخامات</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" [routerLink]="['notes']" routerLinkActive="active link-danger">المذكرات</a>
				</li>
				<li class="nav-item dropdown">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">الطلبات</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" aria-current="page" [routerLink]="['orders']" routerLinkActive="active link-danger">جميع الطلبات</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link disabled" aria-current="page" [routerLink]="['0']" routerLinkActive="active link-danger">الحجوزات</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link disabled" aria-current="page" [routerLink]="['0']" routerLinkActive="active link-danger">المرتجعات</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="navbar-nav align-items-start">
				<a *ngIf="data.isLogged" class="nav-item nav-link" aria-current="page" [routerLink]="['profile']" routerLinkActive="active">مرحبا {{ data.username.getValue() }} !</a>
				<button type="button" (click)="handleLogout()" *ngIf="data.isLogged" mat-button color="warn">تسجيل خروج</button>
				<button type="button" (click)="handleLogin()" *ngIf="!data.isLogged" mat-button color="basic">تسجيل الدخول</button>
				<button type="button" mat-icon-button (click)="toggleParentSidenave()" color="basic" aria-label="toggle side nav">
					<mat-icon *ngIf="!opened">menu</mat-icon>
					<mat-icon *ngIf="opened">close</mat-icon>
				</button>
			</div>
		</div>
	</div>
</nav>
