<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="['']">
			<img src="assets/Layer.png" width="30" height="30" class="d-inline-block align-top" alt="one library" />
		</a>
		<button class="navbar-toggler" color="basic" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" style="margin-left: 3rem;" id="navbarNav">
			<ul class="navbar-nav" *ngIf="_auth.isLogged">
				<li class="nav-item" *ngIf="isAdmin">
					<a class="nav-link" aria-current="page" [routerLink]="['']" routerLinkActive="active link-danger" [routerLinkActiveOptions]="{ exact: true }">الرئيسية</a>
				</li>
				<li class="nav-item dropdown" *ngIf="isAdmin">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">إدارة الخدمات</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['services']" routerLinkActive="active link-danger">الخدمات</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['serviceTypes']" routerLinkActive="active link-danger">انواع الخدمات</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['servicePrice']" routerLinkActive="active link-danger">خدمة لكل فئة</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown" *ngIf="isAdmin">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">إدارة العملاء</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['clients']" routerLinkActive="active link-danger">العملاء</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['clientTypes']" routerLinkActive="active link-danger">أنواع العملاء</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['teacherAccount']" routerLinkActive="active link-danger">حسابات المدرسين</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['feadback']" routerLinkActive="active link-danger">تعليقات العملاء</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown" *ngIf="isAdmin">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">إدارة الموظفون</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['employees']" routerLinkActive="active link-danger">الموظفون</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['attendance']" routerLinkActive="active link-danger">الحضور والانصراف</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown" *ngIf="isAdmin">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">الخامات</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" aria-current="page" [routerLink]="['materials']" routerLinkActive="active link-danger">الخامات</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" aria-current="page" [routerLink]="['materialTracking']" routerLinkActive="active link-danger">سجل أستهلاك الخامات</a>
						</li>
					</ul>
				</li>
				<li class="nav-item" *ngIf="isAdmin">
					<a class="nav-link" aria-current="page" [routerLink]="['notes']" routerLinkActive="active link-danger">المذكرات</a>
				</li>
				<li class="nav-item dropdown">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">الطلبات</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item" *ngIf="isAdmin || isUser">
							<a class="nav-link" aria-current="page" [routerLink]="['orders']" routerLinkActive="active link-danger">جميع الطلبات</a>
						</li>
						<li class="dropdown-item" *ngIf="isAdmin">
							<a class="nav-link" aria-current="page" [routerLink]="['notesReservations']" routerLinkActive="active link-danger">الحجوزات</a>
						</li>
						<li class="dropdown-item" *ngIf="isAdmin">
							<a class="nav-link" aria-current="page" [routerLink]="['returns']" routerLinkActive="active link-danger">المرتجعات</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown" *ngIf="isAdmin">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">الماليات</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" aria-current="page" [routerLink]="['imcomesOutcomes']" routerLinkActive="active link-danger">الصادر و الوارد</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" [routerLink]="['shifts']" routerLinkActive="active link-danger">الشيفتات</a>
						</li>
					</ul>
				</li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" aria-current="page" [routerLink]="['bank']" routerLinkActive="active link-danger">البنك</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" aria-current="page" [routerLink]="['suppliers']" routerLinkActive="active link-danger">الموردين</a>
        </li>
      </ul>
			<div class="navbar-nav align-items-center">
				<li class="nav-item dropdown" *ngIf="isAdmin || isUser">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">مرحبا {{ _auth.username.getValue() }} !</span>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" aria-current="page" [routerLink]="['profile']" routerLinkActive="active link-danger">الصفحة الشخصية</a>
						</li>
						<li class="dropdown-item">
							<button
								class="w-100"
								type="button"
								(click)="!_attendance.checkedIn.getValue() ? handleCheckIn() : handleCheckOut()"
								mat-stroked-button
								[color]="!_attendance.checkedIn.getValue() ? 'basic' : 'warn'">
								{{ !_attendance.checkedIn.getValue() ? "تسجيل الحضور" : "تسجيل الانصراف" }}
							</button>
						</li>
						<li *ngIf="_auth.isLogged" class="dropdown-item">
							<button class="w-100" type="button" (click)="handleLogout()" mat-stroked-button color="warn">تسجيل خروج</button>
						</li>
					</ul>
				</li>
				<!-- <button type="button" mat-icon-button (click)="toggleParentSidenave()" color="basic" aria-label="toggle side nav">
					<mat-icon>{{ opened ? 'close' : 'menu' }}</mat-icon>
				</button> -->
			</div>
		</div>
	</div>
</nav>
