<div class="d-flex h-100 flex-column">
  <div class="container-fluid my-3">
    <div class="row">
      <div class="col-3">
        <mat-card class="mat-elevation-z8 main_card">
          <mat-card-header>الرصيد الأفتتاحي</mat-card-header>
          <mat-card-content>
            <p>
              {{currentShift?.startingBalance?? "-"}} جنية
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card>
          <mat-card-header>إجمالي الوارد</mat-card-header>
          <mat-card-content>
            <p>
              {{currentShift?.totalIncome?? "-" }} جنية
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card>
          <mat-card-header>إجمالي الصادر</mat-card-header>
          <mat-card-content>
            <p>
              {{currentShift?.totalOutcome?? "-"}} جنية
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card>
          <mat-card-header>الرصيد النهائي</mat-card-header>
          <mat-card-content>
            <p>
              {{currentShift?.closingBalance?? "-"}} جنية
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div style="height: 87%;">
    <app-table
    class="h-100"
    [loading]="loading"
    [tableColumns]="tableColumns"
    [formName]="formName"
    [componentName]="componentName"
    (OnDelete)="handleDelete($event)"
    (onNew)="handleNewRow($event)"
    (onEdit)="handleEditRow($event)"
    [canEdit]="false"
    [canDelete]="false"
    [database]="database"></app-table>
</div>
</div>
