<h2 class="w-100 text-center" *ngIf="id; else update">Service Type Details</h2>
<ng-template #update>
	<h2 class="w-100 text-center">New Service Type</h2>
</ng-template>
<section class="container">
	<form [formGroup]="Form" (ngSubmit)="handleSubmit()" class="d-flex flex-column">
		<div class="row">
			<div class="col">
				<mat-form-field class="w-100">
					<mat-label>Name</mat-label>
					<input matInput formControlName="name" />
				</mat-form-field>
			</div>
		</div>
		<div class="my-2 d-flex flex-row-reverse">
			<button mat-flat-button color="primary" class="mx-2 px-4" disabled="{{ !Form.valid }}">save</button>
			<button mat-stroked-button color="warn" (click)="back()">cancel</button>
		</div>
	</form>
</section>
