<div class="d-flex flex-column vh-100">
	<app-navbar [opened]="sidenav.opened" (toggleSidenav)="toggleSidenav($event)"></app-navbar>
	<mat-sidenav-container class="w-100 h-100" autosize>
		<mat-sidenav #sidenav mode="side" position="end">
			<p>Auto Resizing Side Nav</p>
			<div id="print-section">hello world</div>
			<button [printStyle]="{h1: {color: 'red'}, h2: {border: 'solid 1px'}}" printSectionId="print-section" ngxPrint>print</button>
		</mat-sidenav>
		<mat-sidenav-content class="h-100">
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
	<app-footer></app-footer>
</div>
