<div class="container">
	<h2 mat-dialog-title *ngIf="id.value; else update">تعديل حضور وانصراف</h2>
	<ng-template #update>
		<h2 mat-dialog-title>تسجيل حضور و انصراف</h2>
	</ng-template>
	<mat-dialog-content>
		<h4 *ngIf="data"><strong>التاريخ :</strong> {{data.checkIn| date : 'dd/MM/yyyy'}}</h4>
		<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="d-flex flex-column mat-dialog-content">
			<div class="row">
				<autocomplete label="الموظف" [dataSource]="EmployeesDataSource" (selectedId)="setEmpId($event)" [selectedValue]="this?.data?.employeeId"></autocomplete>
			</div>
			<div class="row">
				<div class="col-6">
					<mat-form-field appearance="fill" class="w-100">
						<mat-label>حضور</mat-label>
						<mat-hint>HH:MM AM/PM</mat-hint>
						<input matInput type="time" formControlName="checkIn" />
						<mat-error *ngIf="checkIn.hasError('required') && (checkIn.touched || checkIn.dirty)"> يجب ادخال وقت الحضور </mat-error>
					</mat-form-field>
				</div>
				<div class="col-6">
					<mat-form-field appearance="fill" class="w-100">
						<mat-label>انصراف</mat-label>
						<mat-hint>HH:MM AM/PM</mat-hint>
						<input matInput type="time" formControlName="checkOut" />
					</mat-form-field>
				</div>
			</div>
			<div class="my-2 d-flex flex-row-reverse">
				<button mat-raised-button color="warn" class="mx-2 px-4" [disabled]="!form.valid || isSubmitting">{{ isSubmitting ? 'button.wait' : ('button.save' | translate) }}</button>
				<button type="button" mat-stroked-button color="warn" (click)="onNoClick()">{{ 'button.back' | translate }}</button>
			</div>
		</form>
	</mat-dialog-content>
</div>
