.example-container {
	height: 70vh;
	overflow: auto;
}
table {
	height: 100%;
	width: 100%;
}
.mat-column-symbol {
	color: red;
}
.wraper {
	margin: 2rem 5rem;
}
.mat-mdc-form-field {
	font-size: 14px;
}
.mat-column-id {
	width: 32px;
	border-right: 1px solid currentColor;
	padding-right: 24px;
	text-align: center;
}
.mat-column-actions {
	width: 150px;
	text-align: center;
}
