<mat-card class="shadow-lg pt-4" style="width: 450px; border: 1px solid #dadce0">
	<div class="text-center my-2">
		<img src="/assets/Layer.png" alt="One Library" width="100" />
	</div>
	<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
		<mat-card-header>
			<mat-card-title class="mb-3">تسجيل الدخول</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field appearance="outline" class="w-100" color="warn">
				<mat-label>أسم المستخدم</mat-label>
				<input type="text" matInput formControlName="userName" />
				<mat-error *ngIf="userName.errors?.['required']">يجب ادخال أسم المستخدم </mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline" class="w-100" color="warn">
				<mat-label>الرقم السري</mat-label>
				<input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
				<button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
				</button>
				<mat-error *ngIf="password.errors?.['minlength'] && !password.errors?.['required']">
					password must be greater than {{password.errors?.['minlength']?.['requiredLength']}} character
				</mat-error>
				<mat-error *ngIf="password.errors?.['required']"> Password is <strong>required</strong> </mat-error>
			</mat-form-field>
		</mat-card-content>

		<mat-card-actions align="start" class="justify-content-between">
			<button mat-raised-button color="warn" [disabled]="!loginForm.valid || logging">{{ logging ? 'انتظر من فضلك' : 'تسجيل الدخول' }}</button>
			<button type="button" mat-stroked-button color="warn" class="mx-2" (click)="handleForgetPassword()">نسيت كلمة السر؟</button>
		</mat-card-actions>
	</form>
</mat-card>
