<div class="container">
	<h2 class="w-100 text-center mt-3" *ngIf="data; else update">تعديل سعر الخدمة</h2>
	<ng-template #update>
		<h2 class="w-100 text-center mt-3">أضافة سعر الخدمة</h2>
	</ng-template>
	<mat-dialog-content>
		<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="d-flex flex-column w-100">
			<!-- SERVICES LIST -->
			<div class="row">
				<div class="col-6">
					<mat-form-field appearance="fill" class="col-12">
						<mat-label>الخدمات</mat-label>
						<mat-select formControlName="serviceId">
							<mat-option *ngFor="let serviceName of servicesDataSource" [value]="serviceName.id">{{ serviceName.name }}</mat-option>
						</mat-select>
						<mat-error *ngIf="serviceId.hasError('required') && (serviceId.touched || serviceId.dirty)"> يجب اختيار الخدمة </mat-error>
					</mat-form-field>
				</div>
				<!-- END OF SERVICES LISTS -->
				<!-- CLIENT TYPE LIST -->
				<div class="col-6">
					<mat-form-field appearance="fill" class="col-12">
						<mat-label>نوع العميل</mat-label>
						<mat-select formControlName="clientTypeId">
							<mat-option *ngFor="let clientType of clientsTypeDataSource" [value]="clientType.id">{{ clientType.name }}</mat-option>
						</mat-select>
						<mat-error *ngIf="clientTypeId.hasError('required') && (clientTypeId.touched || clientTypeId.dirty)"> يجب اختيار نوع العميل </mat-error>
					</mat-form-field>
				</div>
			</div>
			<!-- END OF CLIENT TYPE LIST -->
			<!-- PRICE TEXT FIELD -->
			<div class="row">
				<div class="col">
					<mat-form-field class="w-100">
						<mat-label>السعر</mat-label>
						<input type="number" matInput formControlName="price" min="0" />
						<mat-error *ngIf="price.hasError('required') && (price.touched || price.dirty)"> يجب ادخال السعر </mat-error>
					</mat-form-field>
				</div>
			</div>
			<!-- END OF PRICE TEXT FIELD -->
			<div mat-dialog-actions>
				<button mat-raised-button type="submit" color="primary" [disabled]="!form.valid || isSubmitting" class="mx-2 px-4">{{ isSubmitting ? 'انتظر من فضلك' : 'حفظ' }}</button>
				<button type="button" mat-stroked-button color="warn" (click)="onNoClick()" tabindex="-1">إلغاء</button>
			</div>
		</form>
	</mat-dialog-content>
</div>
