<div class="container w-100">
	<h2 class="w-100 text-center mt-3" *ngIf="data; else update">تعديل نوع العميل</h2>
	<ng-template #update>
		<h2 class="w-100 text-center mt-3">نوع عميل جديد</h2>
	</ng-template>
	<mat-dialog-content>
		<form [formGroup]="Form" class="d-flex flex-column w-100">
			<div class="row">
				<div class="col">
					<mat-form-field class="w-100" color="warn">
						<mat-label>الأسم</mat-label>
						<input matInput formControlName="name" />
						<mat-error *ngIf="name.errors?.['required']"> Name is <strong>required</strong> </mat-error>
					</mat-form-field>
				</div>
			</div>
		</form>
	</mat-dialog-content>
  <div mat-dialog-actions class="d-flex justify-content-end">
    <button type="button" mat-stroked-button color="warn" (click)="onNoClick()" tabindex="-1">{{ 'button.back' | translate }}</button>
    <button mat-raised-button type="submit" color="warn" (click)="handleSubmit()" [disabled]="!Form.valid || isSubmitting" class="mx-2 px-4">
      {{ isSubmitting ? ('button.wait' | translate) : ('button.save' | translate) }}
    </button>
  </div>
</div>
